body {
    background: black;
    color: white;
 }

#nav{
    padding: 5px;
}

#linksBar span {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
}

#linksBar span:hover, #icons span:hover {
    color: gray;
    cursor: pointer;
}

#icons {
    text-align: end;
    span{
        margin-right: 5px;
        margin-left: 5px;
    }
}

#hero{
    background-image: url("img/cover.jpg");
    height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 
#seriesRow {
    /* margin-top: 150px; */
    color: darkgray;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}
#seriesRow img{
    height: 25px;
}

#showName {
    font-size: 56px;
    text-shadow: 2px 2px black;
    font-family: "Sevillana", cursive;
}

#trendingStatus img{
    width: 25px;
    margin-right: 10px;
}

#trendingStatus{
    text-shadow: 1px 1px black;
    font-weight: bold;
}

#heroImgDesc{
    /* text-shadow: 1px 1px black; */
    text-shadow: 1px 1px 2px black;
}

#play{
   background: white;
   color: black;
   border: none;
   font-weight: 500;
   padding: 5px 20px;
   border-radius: 5px;
}

#moreInfo{
    background: gray;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
}

#rating{
    background: rgba(0,0,0,0.6);
    padding: 5px 20px;
    border-left: 2px solid white;
}

#ratingCol{
    padding-top: 25%;
}
 

#ratingCol .material-symbols-outlined {
    color: lightgray;
    border: 2px solid lightgray;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
    border-radius: 100px;
    padding: 5px;
    margin-right: 15px;
 }

 #pastYearTitle{
    color: while;
    padding: 0;
    p{
        margin: 25px 0 10px 11px;
        font-size: 20px;
        font-weight: bold;
    }
 }

 /* #streamingOptions{
    border: 3px solid white;
    .col{
        border: 3px solid white;
    }
 } */

  @media screen and (max-width: 767px) {
    #nav{
        text-align: center;
        #linksBar{
            span{
                display: block;
            }
        }
        #icons {
            padding: 10px 0;
            text-align: center;
        }
    }
 }